<%= form_tag carrinho_edit_path(params[:id]), method: :post do%>
  <div class="row justify-content-center m-5">
    <h3>Editar produto</h3>
  </div>
  <div class="row justify-content-center m-5">
    <div class="col-md-5">
      <%= text_field_tag :nome_produto, params[:nome_produto], :class => 'form-control', :placeholder => 'Nome produto'%>
    </div>
    <div class="col-md-5">
      <%= text_field_tag :preco, params[:preco], :class => 'form-control', :placeholder => 'Preço'%>
    </div>
  </div>
  <div class="row justify-content-center m-5">
    <%= submit_tag "edit produto", :name => nil, :class => "btn btn-info"%>
  </div>
<% end %>