<%= form_tag new_carrinho_path, :method => 'get' do%>
  <div class="row justify-content-center m-5">
    <h3>Inserir produto</h3>
  </div>
  <div class="row justify-content-center m-5">
    <div class="col-md-5">
      <%= text_field_tag :nome_produto, params[:nome_produto], :class => 'form-control', :placeholder => 'Nome produto'%>
    </div>
    <div class="col-md-5">
      <%= text_field_tag :preco, params[:preco], :class => 'form-control', :placeholder => 'Preço'%>
    </div>
  </div>
  <div class="row justify-content-center m-5">
    <%= submit_tag "Add produto", :name => nil, :class => "btn btn-info"%>
  </div>
<% end %>
<hr/>
  <div class="row justify-content-center m-5">
    <h3>Lista de produto</h3>
  </div>
<%if @all_products_keys.count() != 0%>
  <div class="row justify-content-center m-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Produto</th>
          <th scope="col">Preço</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @list_products.each do |product| %>
          <tr>
              <% product.each do |value| %>
                <td><%= value[0] %></td>
                <td><%= value[1][0] %></td>
                <td><%= value[1][1] %></td>
                <td>
                  <%= button_to 'Editar', edit_carrinho_path(value[0]) , method: :get, class: "btn btn-success" %>
                </td>
                <td>
                  <%= button_to 'Delete', carrinho_destroy_path(value[0]) , method: :post, class: "btn btn-danger" %>
                </td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<%else%>
  <div class="row justify-content-center m-5">
    <h4> Lista vazia</h4>
  </div>
<% end %>
